/* ------------------------------ GALERIA ------------------------------ */

.galeria {
    background-image: url("../multimedia/imagenes/fondobn2.png");
    background-size: cover;
    background-position: center;
    padding: $pad-web;

    p {
        margin-bottom: 0;
    }

    .filtros {
        @extend %filtros;
    }

    .visualizacion {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        filter: drop-shadow(1px 1px 15px nth($colores, 1));

        p {
            font-family: nth($fuentes, 2);
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
            color: nth($colores, 2);
            filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
            padding-bottom: 20px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 2%;
            cursor: pointer;
            aspect-ratio: 16/10;
            transition: $transit-global;

            &:hover {
                transform: scale(1.05);
                filter: drop-shadow(0 0 10px nth($colores, 2));
            }
        }

        .paginado {
            @extend %paginado;
        }
    }

}
