/* ------------------------------ HOME ------------------------------ */

.gradient-home {
    // animation: nth($animaciones-home,1);
    height: auto;
    width: auto;

    .home {
        // background-image: url("../multimedia/imagenes/garrixbg.jpg");
        background-position: center;
        background-size: cover;
        background-color: black;
        filter: opacity(95%);
        height: 95vh;
        padding: 0;

        .titulo {
            color: nth($colores,2);
            font-family: nth($fuentes,1);
            font-weight: 800;
            font-size: 5rem;

            animation: nth($animaciones-home,2);
            transition: $transit-global;

            filter: drop-shadow(5px 5px 10px black);

            @media screen and (max-width:550px){
                font-size: 3rem;
            }
        }
    }
}


#carouselExampleInterval{
    height: 100%;
    position: relative;
    z-index: 50;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}

.carousel-item img{
    object-fit: cover;
    height: 100%;
    filter:brightness(50%);
}

.home .row{
    position: absolute;
    z-index: 100;
    top:0;
    width: 100%;
}

.home .row div{
    padding: 0;
}

