/* ------------------------------ POLITICAS ------------------------------ */

@import '../base/maps';

.politica {
    background-image: url("../multimedia/imagenes/fondo4.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 2% 10%;
    height: auto;

    h1 {
        color: nth($colores, 2);
        font-family: nth($fuentes, 1);
        filter: drop-shadow(1px 1px 15px black);
        transition: $transit-global;
        font-weight: map-get($polit-titulo, ancho-fuente);
        margin: map-get($polit-titulo, margen);
    }

    h2 {
        color: nth($colores, 2);
        font-family: nth($fuentes, 1);
        filter: drop-shadow(1px 1px 15px black);
        transition: $transit-global;
        font-weight: map-get($polit-subt1, ancho-fuente);
        margin: map-get($polit-subt1, margen);
    }

    h3 {
        color: nth($colores, 2);
        font-family: nth($fuentes, 1);
        filter: drop-shadow(1px 1px 15px black);
        transition: $transit-global;
        font-weight: map-get($polit-subt2, ancho-fuente);
        margin: map-get($polit-subt2, margen);
    }

    p {
        color: rgb(210, 210, 210);
        font-family: nth($fuentes, 1);
        filter: drop-shadow(1px 1px 15px black);
        transition: $transit-global;
        font-weight: map-get($polit-parrafo, ancho-fuente);
        margin: map-get($polit-parrafo, margen);
    }
}
