/* ------------------------------ POLITICAS ------------------------------ */

.politica {
    background-image: url("../../multimedia/imagenes/fondo4.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 2% 10%;
    height: auto;
}

.politica h1 {
    color: white;
    font-size: 60px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    margin: 20px 0;
    filter: drop-shadow(1px 1px 15px black);
    transition: 0.5s all;
}

.politica h2 {
    color: white;
    font-size: 40px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    margin: 20px 0;
    filter: drop-shadow(1px 1px 15px black);
    transition: 0.5s all;
    margin-top: 70px;
}

.politica h3 {
    color: white;
    font-size: 25px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    margin: 20px 0;
    filter: drop-shadow(1px 1px 15px black);
    transition: 0.5s all;
}

.politica p {
    color: rgb(210, 210, 210);
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    margin: 15px 0;
    filter: drop-shadow(1px 1px 15px black);
    transition: 0.5s all;
    width: 60%;
}