/* ------------------------------ TIENDA ------------------------------ */

.tienda {
    background-image: url("../multimedia/imagenes/fondobn2.png");
    background-size: cover;
    background-position: center;
    padding: $pad-web;

    p {
        margin-bottom: 0;
    }

    .filtros {
        @extend %filtros;
    }

    .tiendaVisualizacion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 50px;
        filter: drop-shadow(1px 1px 15px nth($colores, 1));

        @media only screen and (max-width:576px) {
            padding: 0;
        }

        .tiendaCabecera {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 5%;
            width: 100%;

            p {
                font-family: nth($fuentes, 2);
                font-size: 40px;
                font-weight: 700;
                color: nth($colores, 2);
                filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));

                em {
                    font-weight: 500;
                    font-style: normal;
                }
            }

            img {
                width: 45px;
                filter: invert(100%);
                transition: $transit-global;
                cursor: pointer;

                &:hover{
                    transform: scale(1.2);
                }
            }
        }

        .row {
            @media only screen and (max-width:576px) {
                padding: 30px 0;
            }

            .ropa {
                img {
                    width: 130px;
                    aspect-ratio: 4/6;
                    transition: $transit-global;
                    cursor: pointer;

                    &:hover{
                        transform: scale(1.1);
                    }
                }

                &:hover img{
                    filter: drop-shadow(1px 1px 15px rgba(255, 255, 255, 0.5));
                }
            }

            h4 {
                font-family: nth($fuentes, 2);
                font-size: 2rem;
                font-weight: 600;
                color: nth($colores, 2);
                filter: drop-shadow(1px 1px 15px black);
            }

            h5 {
                font-family: nth($fuentes, 2);
                font-size: 1rem;
                font-weight: 600;
                color: nth($colores, 2);
                filter: drop-shadow(1px 1px 15px black);
            }

            .add {
                img {
                    width: 35px;
                    filter: drop-shadow(1px 1px 15px nth($colores, 2)) invert(100%);
                    transition: $transit-global;
                    cursor: pointer;

                    &:hover{
                        transform: rotate(180deg) scale(1.1);
                    }
                }
            }
        }

        .paginado {
            @extend %paginado;
        }
    }
}
