$polit-titulo:(
    ancho-fuente:800,
    margen: 20px 0
);

$polit-subt1:(
    ancho-fuente:700,
    margen: 70px 0 20px 0
);

$polit-subt2:(
    ancho-fuente:700,
    margen: 20px 0
);

$polit-parrafo:(
    ancho-fuente:500,
    margen: 15px 0
);



